# Localversion
CONFIG_LOCALVERSION="-lineage"

# DTBO
CONFIG_BUILD_ARM64_DT_OVERLAY=y

# QCACLD
CONFIG_QCA_CLD_WLAN=y

# exFAT
CONFIG_EXFAT_FS=y

# pstore
CONFIG_CMDLINE="ramoops_memreserve=4M"
CONFIG_CMDLINE_EXTEND=y
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
CONFIG_BLK_WBT=y
CONFIG_BLK_WBT_SQ=y
CONFIG_MTD=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_OOPS=y
CONFIG_MTD_BLOCK2MTD=y

# IR
CONFIG_MEDIA_RC_SUPPORT=y
CONFIG_LIRC=y
CONFIG_RC_DEVICES=y
CONFIG_IR_SPI=y

# initramfs
CONFIG_INITRAMFS_IGNORE_SKIP_FLAG=y

# LKMD (Low-Memory-Killer-Daemon) dependencies
# CONFIG_ANDROID_LOW_MEMORY_KILLER is not set
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_PSI=y

# Haptics
CONFIG_LEDS_QPNP_HAPTICS=n
CONFIG_INPUT_QTI_HAPTICS=y

# vDSO
CONFIG_COMPAT_VDSO=y
